<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      Job Title
    </div>
    
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, obcaecati hic? Quaerat esse explicabo consectetur temporibus sapiente cum autem ut . . .
      <br>
      <br>
      <p>Posted 2 days ago</p>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">See Full Listing</a>
    <a class="card-footer-item">Edit</a>
    <a class="card-footer-item">Delete</a>
  </footer>
</div>