<% content_for(:page_title, 'Ninja Jobs')%>
<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-left">
        <div class="column is-full-mobile is-full-tablet is-three-quarters-desktop is-full-widescreen is-full-fullhd">
          <h1 class="title is-title-1">
            Hire experts who know what's up and find aweomse jobs!
          </h1>
          <p class="subtitle">
            Post a job
          </p>
          <p class="subtitle">
            And we'll find experts for you!
          </p>
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'Sign up now!', signup_path, class: "button is-light is-large" %>
            </p>
            <p class="control">
              <%= link_to 'Login', login_path, class: "button is-dark is-large" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
