<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title is-title-1">
      <span>🌚 Ninja | </span>
      <span class="text-is-cursive">Jobs</span>
      </h1>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%# This method is located in sessions_helper.rb %>
          <% if logged_in? %>
            <a href="" class="button is-danger">
              Post a Job!
            </a>
            <%= link_to "Log out", logout_path, class: "button is-black", method: :delete %>
          <% else %>
            <a href="/login" class="button is-primary">
              Log in
            </a>
            <a href="/signup" class="button is-primary">
              <strong>Sign up</strong>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
